
.header{
    display:grid;
    grid-template-columns: 440px 510px 300px;
    column-gap: 50px;
    padding-left: 30px;
    height: 100px;
}
.left{
    display:grid;
    grid-template-columns:40px 110px 100px 120px 40px;
    column-gap: 0px;
}
.ld1{
        margin-top: 20px;
}
.p1{
    color:grey;
    font-size: 35px;
    font-family: Cookie;
    margin-top:20px;
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}
.p1:hover{
    color: black;
}
.p3{
    font-size: 35px;
    margin-top:20px;
    margin-left: 20px;
    color:grey;
    font-family: Cookie;
    text-decoration: underline;
    cursor: pointer;
}
.p3:hover{
    color: black;
}
.i3{
    width: 36px;
    height: 36px;
    margin-top: 22px;
    margin-left: 30px;
}
.i1{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 25px;
    margin-left: 0px;
}
.middle{
    display:grid;
    grid-template-columns:400px 100px;
    column-gap: 50px;
}
.s{
    width: 400px;
    height: 40px;
    font-size: 35px;
    font-family: Tangerine;
    border-radius: 30px;
    padding-left: 10px;
    margin-top: 16px;
    border-style:solid;
    border-color:rgb(187, 186, 186);
    box-shadow: 5px 5px 5px 5px grey;
 }
.right{
    display:grid;
    grid-template-columns:80px 100px;
    column-gap: 0px;
}
.p2{
    color:grey;
    font-size: 35px;
    margin-top:20px;
    margin-right:0;
   font-family:Cookie;
}
.b{
    width: 150px;
    height:50px;
    font-size:20px;
    border-radius:30px;
    border-style:solid;
    border-color:rgb(187, 186, 186);
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
}
.b:hover{
    background-color: black;
    color: white;
  
    box-shadow: 5px 5px 5px rgb(78, 70, 63);
}
.hd1{
    margin-top:24px;
}
.i2{
    width: 1260px;
    height: 450px;
}
.container {
    position: relative;
    display: inline-block;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}
.p4{
    font-family: Dancing script;
    font-weight: bold;
    font-size: 40px;
}
.text {
    position: absolute;
    top: 100%;
    left: 100%;
    font-size: 22px;
    line-height: 0.5rem;

}
